{{#each @cardData as |card|}}
<div class="col">
    <div class="card" style="width: 301px;">
        <img src={{card.image}} alt="" />
        <div class="card-body">
            <h5 class="card-title">{{card.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Club: {{card.club}}</li>
            <li class="list-group-item">Jersey No: {{card.jerseyNumber}}</li>
        </ul>
    </div>
</div>
{{/each}}