{{page-title "AVM"}}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand">
            <LinkTo @route="index">
                Ember - Cart
            </LinkTo>
        </h1>
    </div>
</nav>
{{outlet}}