{{page-title "Cards"}}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand">
            <LinkTo @route="footballers">
                Footballers
            </LinkTo>
        </h1>
    </div>
    <div class="container-fluid">
        <h1 class="navbar-brand">
            <LinkTo @route="cricketers">
                Cricketers
            </LinkTo>
        </h1>
    </div>
</nav>
{{outlet}}