{{page-title "Cricketers"}}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand">
            Cricketers
        </h1>
    </div>
</nav>
<div class="container mb-5">
    <div class="row row-cols-1 row-cols-md-3">
        <Card @cardData={{@model}} />
    </div>
</div>
{{outlet}}