<div class='jumbotron'>
  <div class='container'>
    <div class='main'>
      <h1>Ember Cart</h1>
      <LinkTo @route='products.list'>
        <a href='#' class='btn-main'>
          Get Started
        </a>
      </LinkTo>
    </div>
  </div>
</div>

{{outlet}}